{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<span id="loginbg"> </span>
   <div class="col-md-6 col-xs-10 wrap pwd_reset pwd_reset_key">
   	<div class="caption">
    	<h2>{% trans "Change Password" %}</h2>
	</div>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change form_style">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="button">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
