{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load staticfiles %}
{% block content %}
<span id="signup_bg"> </span>
<div class="col-md-10 col-sm-12 wrap no_bg">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="signuup_form">
			<h1><a href="{% url 'frontend:dashboard' %}" ><img src="{% static 'images/header-log.png' %}" alt="image" title="Allstream" /></a></h1>
			<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
				<p class="white text-left" style="width: 100%; text-align: left; margin-bottom: 20px;">
					{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
					{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
				</p>
				{% csrf_token %}
				<!-- {{ form.as_p }} -->
				
				<p class="form-group username">
					<label for="">Username</label>
					 <input type="text" name="username" class="text" placeholder="Username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required/>
				      {% if form.username.errors %}
				      <span class="error">{{ form.username.errors.as_text }}</span>
				      {% endif %}
				</p>
				<p class="form-group email">
					<label for="">Email</label>
					<input type="email" name="email" class="text" placeholder="Email Address" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required/>
					{% if form.email.errors %}
					<span class="error">{{ form.email.errors.as_text }}</span>
					{% endif %}
				</p>				
				<div class="user_type row">
					{% for radio in form.choice %}
					<div class="col-md-6">
						{{ radio.tag }}
						<label for="{{ radio.id_for_label }}"> {{ radio.choice_label }}</label>
					</div>
					{% endfor %}
				</div>
				<div>
					<div>
						{{ form.captcha.errors }}
					</div>
					{{ form.captcha }}
				</div>
				{% if redirect_field_value %}				
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<button type="submit" class="button">
					{% trans "Sign Up" %}
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
